
.html
{
	scroll-behavior:smooth;
}




.list

{
	font-family: Montserrat;

}
.header
{
display:flex;
align-items:center;
justify-content:space-between;

position: sticky;
  top: 0;

}
.background
{
background-image:url(study.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment:fixed;


}







.dot
{
	font-size: 0.00625rem;
}


.logo
{
	height:4rem;
	width:4rem;
	object-fit:cover;
	padding-top:0.06rem;
	cursor: pointer;
	vertical-align:middle;

}
.list
{
	list-style: none;
	display: inline-block;
cursor: pointer;
padding-left: 0.5rem;
padding-right:0.5rem;
margin-top:0;


}
.Zeroth
{

display: inline-block;
vertical-align: middle;
font-family:Montserrat;
font-weight: bold;
font-size:1.6rem;



}



.button
{
	margin-left: 0.9rem;
margin-top: 0.5rem;
background-color:darkgreen;
color: white;
font-size:1rem;
font-family:Montserrat;
border:none;
border-radius: 1.2rem;
padding-top:0.7rem;
padding-bottom: 0.7rem;
padding-left: 1rem;
padding-right:1rem;
transition:box-shadow 0.2s,margin-top 0.2s   ,margin-left 0.2s,margin-right 0.2s,padding-right 0.2s,padding-left 0.2s;
box-shadow: 0.1rem 0.1rem 0.8rem rgba(0,0,0,0.7);
cursor:pointer;
position: 
}
.button:hover{
	background-color: green;

}

.button:active{
	background-color:rgb(146,146,146);
}

.game
{
	font-size:2.375rem;
	font-family:arial;
	font-weight:bold;

	text-align:center;
	color:black;

	padding-bottom:0;
	line-height:0.625rem;

}
.work
{
	font-family: arial;
	font-size: 1.75rem;
	color:rgb(96,96,96);
	text-align: center;
padding-top:0;
line-height:0.0625rem;
}

.start
{
margin-left: 0.8125rem;
margin-top: 0.425rem;
background-color:rgb(51,46,249);
color: white;
font-size:1.125rem;
font-family: arial;
border:none;
border-radius: 1.25rem;
padding-top:1rem;
padding-bottom:1rem;
padding-left: 1.5625rem;
padding-right:1.5625rem;

box-shadow: 0.125rem 0.125rem 0.625rem rgba(0,0,0,0.7);
cursor:pointer;
display:block;

transition: box-shadow 0.2s,text-decoration 0.2s, margin-top 0.2s ,margin-right 0.2s;
}
.quiii
{
	display:flex;
	align-items: center;
	justify-content: space-around;
	
	

}
.start:hover
{text-decoration: underline;
}
.start:active
{
margin-top:0.25rem;
margin-right:0.125rem;
box-shadow:none;
}
.div
{
	background-color: orange;
	box-shadow:0 0 0.625rem rgba(0,0,0,0.8);
	width:72rem;
	margin-left:5.7rem;
	border-radius:3rem;
}
.rule
{
	width:30rem;
	height: 30rem;
	object-fit: cover;
	margin-top:1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	border-radius:5rem;
	display:inline-block;
}
.h1
{
	font-family: arial;
margin-left:10rem;
margin-top: 6rem;
color:white;
margin-bottom:0;
}
.dui
{
	display: inline-block;
	vertical-align: top;

}
.ul
{
	font-size:1.8rem;
	color: white;
	width:37.5rem;
	margin-top:1rem;

}
.name
{
background-color: orange;
	box-shadow:0 0 0.625rem rgba(0,0,0,0.8);
	width:72rem;
	margin-left:5.7rem;
	border-radius:3rem;


}
.second
{
		width:30rem;
	height: 30rem;
	object-fit: cover;
	margin-top:1rem;
	margin-bottom: 1rem;
	margin-left: 0.6rem;
	border-radius:5rem;
	display:inline-block;
}
.group
{
	font-size:1.9rem;
	font-weight:bold;
	width: 38rem;
	margin-top: 7rem; 
	color:white;

}
.last
{
	font-size:1.9rem;
	font-weight:bold;
	width: 38rem;

	color:white;

}
.thank
{
	font-size: 2rem;
	text-align: center;
}























